@import "../styles/variables.scss";

.home {
    display: grid;
    gap: 20px;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-auto-rows: minmax(250px, auto);

    .box {
        padding: 10px 20px;

    }

    .box1 {
        color: $white-text;
        background-color: $main-color;
        border-radius: 23px;
        grid-column: span 1;
    }

    .box4 {
        grid-column: span 2;
    }
}